@model SportsStore.WebUI.Models.ProductsListViewModel

@{
    ViewBag.Title = "List";
}

<h2>Products Catalog</h2>

@foreach (var p in Model.Products)
{
    Html.RenderPartial("ProductSummary", p);
}

<div class="pager">
@Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new {Page = x, category = Model.CurrentCategory}))
</div>